{% extends 'base.html.twig' %}

{% block body %}

    {% set recipe = recipe %}

    <div class="row">
        <h2 class="page-header">{{ recipe.title }}</h2>
    </div>
    <div class="col-md-5"><h3>Ingredients:</h3>
        {% for ingredient in recipe.ingredients %}
            <div>{{ ingredient.name }}</div>
        {% endfor %}
        <br>
    </div>
    <div class="col-md-8"><h3>Preparation:</h3>
        <p class="word-break: break-all">{{ recipe.preparation }}</p>
    </div>
    <div class="col-md-6"><h3>Comments:</h3>
        {% for comment in recipe.comments %}
            <div>{{ comment.user }}: {{ comment.content }}</div>
        {% endfor %}
    </div>

    <img id="img_details" class="img-thumbnail img-responsive" src="{{ asset("uploads/" ~ recipe.image) }}" />
    <hr>
    <a class="btn btn-default" href="{{ path('recipes') }}">Back to List</a>

    
{% endblock %}