{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="page-header">Welcome to Cook With Me!</h1>

    {% if app.user %}
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('recipe_create') }}">Create own recipe!</a></li>
            <li class="list-group-item"><a href="{{ path('user_recipes') }}">Your Recipes</a></li>
        </ul>
    {% endif %}
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-4">
                <h3>{{ recipe.title }}</h3>
                <a href="{{ path('recipe_details', {'id': recipe.id}) }}">
                    <img class="img-thumbnail img-responsive" src="{{ asset("uploads/" ~ recipe.image) }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}